/* Inizio regola di resset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fine regola di resset */

body{
    width: 100vw;    
    border: 2px solid blue;    
}
header{
    width: 100%;
    margin: 0 auto;
}
main{
    display: flex;
    width: 100%;  
    border: 1px solid black;
}
/* Inizio header nav */
nav{
    width: 100%;
    height: 50px;    
    display: flex;
    justify-content: space-between;
}
/* Fine header nav */

/* Inizio nav right */
.fas-fa-bars{
    margin: 0px 15px 0px 15px;
    font-size: 16px;
}
.fab-fa-youtube{  
    position: relative;  
    font-size: 25px;
    font-weight: 600;
}
.fab-fa-youtube span{
   font-size: 10px; 
   position: relative;
   bottom: 15px;
   right: 6px;   
}
.nav-right i.fa-youtube{
    color: red;
    font-size: 25px;
}
/* Fine nav right */

/* Inizio regole comuni nav */
.nav-right, 
.nav-center, 
.nav-left{
    display: flex; 
    justify-content: center;   
    align-items: center;
}
/* Fine regole comuni nav */

/* Inizio nav center */

.nav-search{    
    width: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;      
}
.fas-fa-search{
    border: 1px solid #c8c8c8;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    height: 30px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}  
#ytsearch{
    width: 100%;    
}
input{     
    height: 30px;    
    border: none;    
    border: 1px solid #c8c8c8; 
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;   
} 
::placeholder{
    color: #c8c8c8;
}
.fas-fa-search i{
    color: #949494;
} 
.fas-fa-microphone{  
    margin-left: 10px;  
    width: 30px;
    height: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);    
}
/* Fine nav center */

/* Inizio nav left */
.nav-left{
    gap: 30px;
}
.fa-video, .fa-bell, .fa-th{
    font-size: 24px;
}
.img-profile{
    margin-right: 20px;
    width: 35px;
    height: 35px;    
    border-radius: 50%;
    background-image: url(https://i.picsum.photos/id/410/50/50.jpg?hmac=k3uO1QDAmgs_aQb4u-9cPHk5dB9_Jg64UbYAfNHga_4);
}
/* Fine nav left */

/* Inizio aside container */
.aside-container{     
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    min-width: 240px;   
}
.aside-container h4 {    
    padding-left: 24px;   
    padding-bottom: 20px; 
    color: #555555;
}
.aside-container ul{
    display: flex;
    flex-direction: column;    
}
/* Fine aside container */

/* Inizio home container */
/* Inizio regole comuni aside container */
.home-container, 
.raccolta-container, 
.iscrizioni,
.altro-da-youtube{
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}


li {
    list-style: none;
    font-size: 16px;          
}
li i{   
    padding: 10px 24px 24px 24px;    
}
/* Fine regole comuni aside container */
/* Fine home container */

/* Inizio iscrizioni */

/* Fine iscrizioni */
/* Inizio altro da youtube */

/* Fine altro da youtube */

/* Inizio section */
section{  
    width: 100%;  
    border: 1px solid red;
}
/* Fine section */

/* Inizio section header */
.section-header{
    margin: 10px 0px 0px 20px;
    border: 1px solid lime;
}
.section-header ul{
    display: flex;
    justify-content: space-between;
}
.section-header ul li{
    padding: 6px 12px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
}
/* Fine section header */

/* Inizio section main */
.section-main{
    width: 100%;
    
    border: 1px solid darkorchid;
}
/* Fine section main */

