/* Inizio regola di resset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fine regola di resset */

body{
    width: 100vw;        
}
header{
    width: 100%;
    margin: 0 auto;
}
main{
    display: flex;
    width: 100%;  
    
}
/* Inizio header nav */
nav{    
    width: 100%;
    height: 50px;    
    display: flex;
    justify-content: space-between;
}
/* Fine header nav */

/* Inizio nav right */
.nav-right a{
    text-decoration: none;
    color: black;
}
.nav-right i.fa-youtube{
    color: red;
    font-size: 25px;
}
.fas-fa-bars{
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
}
.fab-fa-youtube{  
    position: relative;  
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -3px;
}
.fab-fa-youtube i{
    padding-right: 5px;
}
.fab-fa-youtube span{
   font-size: 10px; 
   position: relative;
   bottom: 15px;
   right: 1px;  
   letter-spacing: 0px; 
}
/* Fine nav right */

/* Inizio regole comuni nav */
.nav-right, 
.nav-center, 
.nav-left{
    flex-shrink: 0;  
    display: flex; 
    justify-content: center;   
    align-items: center;
}
/* Fine regole comuni nav */

/* Inizio nav center */

.nav-search{    
    width: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;      
}
.fas-fa-search{
    border: 1px solid #c8c8c8;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    height: 30px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}  
#ytsearch{
    width: 100%;    
}
input{     
    height: 30px;    
    border: none;    
    border: 1px solid #c8c8c8; 
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;   
} 
::placeholder{
    color: #c8c8c8;
}
.fas-fa-search:hover, .fas-fa-microphone:hover{
    background-color: rgb(221, 221, 221);
}
.fas-fa-search i{
    color: #949494;    
} 
.fas-fa-microphone{  
    margin-left: 10px;  
    width: 30px;
    height: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);    
}
.fas-fa-microphone a{
    text-decoration: none;
    color: black;
}
/* Fine nav center */

/* Inizio nav left */
.nav-left{
    gap: 30px;
}
.nav-left a{
    text-decoration: none;
    color: black;
}
.fa-video, .fa-bell, .fa-th{
    font-size: 24px;
}
.img-profile{
    margin-right: 20px;
    width: 35px;
    height: 35px;    
    border-radius: 50%;
    background-image: url(https://i.picsum.photos/id/410/50/50.jpg?hmac=k3uO1QDAmgs_aQb4u-9cPHk5dB9_Jg64UbYAfNHga_4);
}
/* Fine nav left */

/* Inizio aside container */
.aside-container{         
    min-width: 240px;    
}
.dividere-aside{
    border-top: 1px solid lightgrey;
    margin-top: 20px;
}
.aside-container h4 {    
    padding-left: 15px;   
    padding-bottom: 15px; 
    color: #555555;
}
.aside-container a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}
.aside-container ul{
    display: flex;
    flex-direction: column;    
}
.aside-container li{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

}
/* Fine aside container */

/* Inizio home container */
.home-container li:first-child{
    background-color: rgb(192, 192, 192);
}
/* Inizio regole comuni aside container */
.home-container, 
.raccolta-container, 
.iscrizioni,
.altro-da-youtube{    
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;    
}
.aside-container li:hover{
    background-color: rgb(226, 226, 226);
}
li {
    list-style: none;
    font-size: 14px;  
    flex-shrink: 0;              
}
li i{   
    padding: 15px;    
}
/* Fine regole comuni aside container */
/* Fine home container */

/* Inizio iscrizioni */

/* Fine iscrizioni */
/* Inizio altro da youtube */

/* Fine altro da youtube */

/* Inizio section */
section{  
    padding-left: 10px;
    width: 100%;     
}
.dividere-section{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;    
    border-top: 3px solid lightgrey;
}
/* Fine section */

/* Inizio section header */
.section-header{
    margin: 10px 10px 0px 0px;       
}
.section-header ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid grey;     
}
.section-header li:first-child{    
    background-color: black;
    color: rgb(255, 255, 255);    
}
.section-header a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
.section-header .tutti-href{
    color: white;
}
.section-header li:hover{    
    background-color: rgb(226, 226, 226);    
}
.section-header ul li{
    padding: 5px 10px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
    font-size: 11px;
}
/* Fine section header */

/* Inizio section main */
.section-main{
    display: flex;
    flex-flow: row wrap;    
    gap: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;    
    border-top: 1px solid lightgrey;
    background-color: rgb(241, 240, 240);
}
/* Fine section main */

/* Inizio cards */
.cards{
    width: 300px;
    height: 300px;    
}
.img-cards-contain{
    width: 100%;
    height: 60%;    
    background-image: url(https://i.picsum.photos/id/633/300/200.jpg?hmac=cRYYFONERdtzAEhTSVWbBL76hUhdpzzvDV1hGJw6ycw);
    
}
.img-cards-contain{
    display: flex;    
    justify-content: flex-end;
}
.img-cards-contain span{   
    margin: 4px;
    padding: 4px;  
    background-color: black;
    border-radius: 5px;
    align-self: flex-end;        
    color: white;
}
.info-cards{
    width: 100%;
    height: 40%;    
}
.img-profile-autore{
    margin: 12px 12px 0px 0px;
    width: 35px;
    height: 35px;      
    border-radius: 50%;      
}
.cards a{
   text-decoration: none; 
   color: grey;
}
.info-cards{
    display: flex;
}
.titolo-card span{
    display: flex;
    color: grey;
}
.titolo-card span i{     
    padding: 2px; 
    align-self: center;
}
.titolo-card i{
    color: grey;
}
.titolo-card span i{    
    font-size: 4px;
    color: grey;
}
/* Fine cards */

